.roundBox {
  border-radius: 25px;
  margin-bottom: 20px;
}

.btn.mainButton {
  background-color: #25ac92;
  color: white;
  display: block;
  width: 100px;
  margin: 0 auto;
}

.btn.mainButton:hover {
  background-color: black;
}

.capitalize {
  text-transform: capitalize;
}

.btn.subjectButton:hover {
  background-color: black;
}