.roundBox {
  border-radius: 25px;
  margin-bottom: 20px;
}

.btn.mainButton {
  background-color: #25ac92;
  color: white;
  display: block;
  width: 100px;
  margin: 0 auto;
}

.btn.mainButton:hover {
  background-color: black;
}

.capitalize {
  text-transform: capitalize;
}

.btn.subjectButton:hover {
  background-color: black;
}

.goBackBtn {
  background-color: white;
  margin: 50px 0px 0 50px;
  width: 3%;
  border: none;
}

.goBackBtn img {
  width: 100%;
}